body {
    background-color: cornflowerblue;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a {
    margin: 1em;
}
img {
    width: 100px;
}

/* 1em = 16px */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 1em;
}
.altBox {
    display: flex;
    flex-direction: column-reverse;
}