img {
    width: 300px;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a {
    padding: 2em;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.octocat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}